body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 10px;
    line-height: 8px;
    margin: 3px;
    text-align: center;
    background-position: center;
    background: url(kinsani.jpg) no-repeat center /cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(0 0 0 / 40%);
    filter: grayscale(1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

a {
    background: rgb(37, 37, 37);
    padding: 5px 5px;
    color: antiquewhite;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 10px;
}
